body {
  font-family: "Merriweather";
  background-color: #f5e6ea;
  margin: 0;
}
.profile-picture {
  border-radius: 50%;
  width: 100%;
  margin-bottom: 25%;
}
header {
  background-color: #b13359;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 10%;
  position: sticky;
  top: 0;
  justify-content: flex-start;
}
nav {
  width: 100%;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  padding: 0;
}
nav ul li {
  background-color: #b13359;
  margin: 10px;
  padding: 5px;
}
nav ul li a {
  text-decoration: none;
  color: #f5e6ea;
  font-size: 1em;
}

.content {
  display: flex;
  gap: 10px;
}
main {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
main section .documentary {
  float: left;
  margin-right: 20px;
  width: 50%;
}

h2 {
  font-size: 40px;
  color: #420014;
  line-height: 120%;
}
.body-text {
  font-size: 19px;
  color: #57001a;
}
audio {
  float: left;
  margin: 10px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b13359;
  font-size: 13px;
  height: 30px;
  color: #f5e6ea;
  position: sticky;
  bottom: 0;
  width: 100%;
}

h1 {
  font-size: 48px;
  color: #420014;
}
main img {
  float: left;
  margin: 50px 20px;
}
.customer-input {
  display: block;
  width: 80%;
  padding: 15px;
  margin: 25px;
  border: #57001a solid 1px;
}
.customer-input::placeholder {
  color: #57001a;
}
button {
  padding: 3% 5%;
  border-radius: 12px;
  background-color: #700021;
  margin: 0 auto;
  color: #f5e6ea;
  border: 1px #700021 solid;
  box-shadow: rgba(37, 39, 89, 0.3) 0px 8px 8px 0;
  font-size: 24px;
  transition: 0.3s ease;
}
button:hover {
  background-color: #f5e6ea;
  color: #700021;
}
.education-container {
  display: flex;
  gap: 40px;
}
.education-container section {
  background-color: #e1b0bf;
  border-radius: 12px;
  padding: 1% 5%;
  flex: 1;
}
.education-container img {
  width: 100%;
  transition: 0.3s ease;
}
.education-container img:hover {
  transform: scale(1.05);
}
main.contact-container {
  background-color: white;
  text-align: center;
  margin: 50px auto;
  padding: 5%;
  border-radius: 12px;
  width: 80%;
}
.form-container {
  border: #57001a solid 1px;
  padding: 5%;
}
.customer-input {
  width: 80%;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid #57001a;
  padding: 8px;
  text-align: left;
  color: #57001a;
  font-size: 0.85rem;
}
td a {
  color: #57001a;
  text-decoration: none;
}
td a:hover {
  text-decoration: underline;
}
main .grid-container {
  margin: 0;
}
.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;

  margin: 5% auto;
}
.grid-item {
  width: 100%;
  margin: 20px;
}
.main-contact-container {
  width: 90%;
  padding: 0 20%;
}
.main-skill-container {
  width: 90%;
  padding: 0 20%;
}
.certificates {
  width: 90%;
}

@media (max-width: 900px) and (orientation: portrait) {
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color: #b13359;
  }

  .content {
    display: block;
    flex: 1 0 auto;
  }

  .profile-picture {
    height: 100%;
    width: 10%;
    margin: 0;
  }

  nav {
    width: 70%;
  }

  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    background-color: #b13359;
    margin: 3px;
    padding: 2px;
  }

  nav ul li a {
    text-decoration: none;
    color: #f5e6ea;
    font-size: 9px;
  }

  main {
    margin: 5%;
  }
  main section .documentary {
    width: 80%;
    float: none;
    margin: auto;
    display: block;
    margin: auto;
  }

  h2 {
    font-size: 28px;
  }
  .body-text {
    font-size: 16px;
  }
  audio {
    float: none;
    margin: 5%;
    width: 80%;
  }
  footer {
    font-size: 11px;
    height: 1em;
    position: sticky;
    bottom: 0;
  }
  h1 {
    font-size: 33px;
  }
  main img {
    max-width: 80%;
    display: block;
    margin: 0 auto;
    float: none;
  }

  button {
    font-size: 20px;
  }
  .education-container {
    display: block;
  }
  .education-container section {
    background-color: transparent;
  }
  .education-container img {
    margin-bottom: 2%;
  }
  main .grid-container {
    margin: auto;
  }
  .grid-container {
    width: 52%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 6%;
    margin: 4% auto;
  }

  .main-skill-container {
    padding: 0;
  }
  .main-container {
    margin: 0 -15%;
  }
  .main-contact-container {
    width: 90%;
    padding: 0;
  }
  td {
    font-size: 0.65em;
  }
  .customer-input {
    width: 65%;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: #b13359;
  }

  .content {
    display: block;
    flex: 1 0 auto;
  }

  .profile-picture {
    height: 100%;
    width: 10%;
    margin: 0;
  }

  nav {
    width: 70%;
  }

  nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }

  nav ul li {
    background-color: #b13359;
    margin: 3px;
    padding: 2px;
  }

  nav ul li a {
    text-decoration: none;
    color: #f5e6ea;
    font-size: 11px;
  }

  main {
    margin: 5%;
  }
  main section .documentary {
    margin: 5%;
  }

  h2 {
    font-size: 28px;
  }
  .body-text {
    font-size: 16px;
  }
  audio {
    margin: 5%;
  }
  footer {
    font-size: 11px;
    height: 1em;
  }
  h1 {
    font-size: 33px;
  }
  main img {
    max-width: 40%;
  }

  button {
    font-size: 20px;
  }
  .education-container {
    display: block;
  }
  .education-container section {
    background-color: transparent;
  }
  .education-container img {
    margin-bottom: 2%;
    max-width: 70%;
  }
  main.contact-container {
    max-width: 400px;
  }
  .main-contact-container {
    padding: 0;
    margin: auto;
  }
  .main-skill-container {
    padding: 0;
  }
  main .grid-container {
    margin: auto;
  }

  .grid-container {
    width: 60%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4%;
    margin: auto;
  }
}
